---
layout: base.njk
---

{% block head %}
<link rel="stylesheet" href="/assets/homepage.css">
<script src="/assets/scripts/dog.js" async type="module"></script>
{% endblock %}

<div id="dog" class="dog"></div>

<section class="nice">
    <span class="big buel">buel</span>
    <span class="big fest">fest</span>
</section>

<section class="more inverted">
    <section class="details">
        <span class="date">nov. 1–7</span>
        <span><a href="https://twitch.tv/guywith_dog">twitch.tv/guywith_dog</a></span>
        <span>the annual dog–based urlfest. details below</span>
    </section>

    <p>
        (todo) buelfest is a yearly urlfest I run on the week of bueller's birthday,
        Nov 1-7, that raises money for autistic kids in need of service dogs by
        directly inviting you to donate to various GoFundMes, with a raffle and
        some dog hugs as incentives. last year we raised over $1k. we open
        signups early for the people involved, some of whom compose things for
        actual orchestral ensembles, to have time to get things in order.
    </p>
</section>