---
layout: base.njk
---

{% block head %}
    <link rel="stylesheet" href="/assets/homepage.css">
    <script src="/assets/scripts/dog.js" async type="module"></script>
{% endblock %}

<div id="dog" class="dog"></div>

<h1 class="nice" aria-label="buelfest">
    <span class="buel">buel</span>
    <span class="fest">fest</span>
</h1>
