---
title: "buelfest"
layout: base.njk
---

{% block head %}
<link rel="stylesheet" href="/assets/homepage.css">
<script src="/assets/scripts/dog.js" type="module"></script>
<script src="/assets/scripts/names.js" async type="module"></script>

<meta property="og:title" content="BUELFEST" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:description"
    content="NOV 1-???. THE CHARITY DOG MUSIC EXPERIENCE. IN AID OF AUTISM SERVICE DOGS AND ALSO PALESTINE NOW" />
{% endblock %}


<h1 class="nice" aria-label="buel fest">
    <div id="dog" class="dog" aria-hidden></div>
    <span class="big buel">buel</span>
    <span class="big fest">fest</span>
</h1>


<section class="names inverted">
    <details>
        <summary id="summary">
            <div class="arrow-up" aria-hidden>▶</div>
            <div class="arrow-down" aria-hidden>▼</div>
            with
            {% for name in lineup.summary %}
            <div class="the">{{name}}</div>
            {% endfor %}
        </summary>
        <div class="names" id="namezone">
            {% for name in lineup.shuffled %}
            {% set link = lineup.links[name] %}
            <span class="name">
                {% if link %}
                <a href="{{link}}" target="_blank" rel="noreferrer">{{name}}</a>
                {% else %}
                {{name}}
                {% endif %}
    
            </span>
            {% endfor %}
        </div>
    </details>
    <script>
        document.getElementById("summary").style.opacity = 0;
    </script>

</section>

<section class="more">
    <section class="details">
        <span class="date">nov. 1–???</span>
        <span><a target="_blank" href="https://twitch.tv/guywith_dog">twitch.tv/guywith_dog</a></span>
        <span>the annual dog–based urlfest</span>
    </section>

    <section class="text">
        <p>
            BUELFEST is an online music festival running from Nov. 1st to whenever we run out of sets, skipping election day (with an afterparty that usually runs long),
            benefiting the training of the service dog of a member of our
            community as well as a second cause (in 2024, the PCRF). It centers around
            my autism service dog Bueller; it starts on his birthday and every
            set has an audio clip of him somewhere in it. In both 2023 and 2024 we raised over $1000, and we hope for even
            more next year.
        </p>
        <p>
            The event will take place on the <a href="{{links.twitch}}">twitch
                channel</a>. For more information on how
            you can help, join the <a href="{{links.discord}}">discord
                server</a>.
        </p>
        <p>
            Read more about what you can and should be doing to stop the
            Palestinian genocide <a href="{{links.palestine}}">here</a>.
        </p>
    </section>

    <ul class="links">
        <a target="_blank" href="https://www.youtube.com/playlist?list=PLt3wDhXp6ulhrGz7kAKvtsVenAFVRkGdl">Watch the 2024 VODS</a>
        <a target="_blank" href="https://merch.guywith.dog">Get the Merch</a>
        <a target="_blank" href="https://swag.guywith.dog">Get the Swag (different thing)</a>
        <a target="_blank" href="{{links.discord}}">Chat with us on Discord</a>
        <!-- <a target="_blank" href="{{links.signup.perform}}">Sign up as a performer</a> -->
        <!-- <a target="_blank" href="{{links.signup.art}}">Sign up as a visual art person</a> -->
        <!-- <a target="_blank" href="{{links.signup.submit}}">Submit an afterparty set</a> -->
        <a target="_blank"
            href="https://guywith.dog/buelfest%20materials.zip">Download the
            sample pack</a>
    </ul>
</section>

<section class="sponsors">
    <h3>sponsored by</h3>

    <ul>
        <a class="sponsor" style="mask-image: url('/assets/nora.png');"
            target="_blank" href="https://nora.jewelry/">
            Nora Reed Designs
        </a>

        <a class="sponsor"
            style="mask-image: url('/assets/unplugred.png'); image-rendering: pixelated;"
            target="_blank" href="https://vst.unplug.red/">
            unplug.red
        </a>

        <div>
            <b>you, possibly</b>
            <span>please email <a
                    href="mailto:sponsors@guywith.dog">sponsors@guywith.dog</a>
                if you're
                interested in sponsoring!</span>
        </div>
    </ul>
</section>
