<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ title + " — " if title and page.url != "/" }} buelfest</title>
    {# todo: self host #}
    <script type="importmap">
        {
            "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.164.1/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.164.1/examples/jsm/"
            }
        }
    </script>    

    {# gooble fonts #}
    {# todo: self host. maybe we don't need all the axes #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Commissioner:slnt,wght,FLAR,VOLM@-12..0,100..900,0..100,0..100&display=swap"
    rel="stylesheet">
    
    <meta property="og:site_name" content="BUELFEST" />
    <link rel="stylesheet" href="/assets/main.css">

    <script type="module" src="/assets/scripts/colour.js"></script>

    {% block head %}{% endblock %}
</head>

<body>
    {% include "header.njk" %}

    {{ content | safe }}
</body>

</html>