<footer class="site">
    <section class="title">
        <span>buelfest</span>
        <span>nov. 1–???</span>
    </section>
    
    <section class="links">
        <a href="https://github.com/thatcher-gaming/buelfest">source code</a>
        <a href="/oss">sourced code</a>
        <span>website by leah :)</span>
        <span>music by <a href="https://teetow.com">teetow</a></span>
    </section>
</footer>
