<footer class="site">
    <section class="title">
        <span>buelfest</span>
        <span>Nov. 1-7</span>
    </section>
    
    <section class="links">
        <a href="https://github.com/thatcher-gaming/buelfest">source code</a>
        <a href="/oss">sourced code</a>
        <span>website by leah :)</span>
    </section>
</footer>