<header class="site">
    <a href="/"><i>buelfest</i></a>

    <nav>
        {# <a href="/about/">about</a> #}
        {# <a href="/sets/">sets</a> #}
        <a href="https://discord.gg/qvjUBnEAZX">chat</a>
        <a href="https://twitch.tv/guywith_dog">twitch</a>
        <a href="/donate/">go donate!!</a>
    </nav>
</header>
