<header class="site">
    {% if page.url != "/" %}
    <a class="home" href="/">buelfest</a>
    {% else %}
    <span></span>
    {% endif %}
    <nav>
        {# <a href="/about/">about</a> #}
        {# <a href="/sets/">sets</a> #}
        <a href="{{ links.discord }}">discord</a>
        <a href="{{ links.twitch }}">twitch</a>
        <a href="/donate/">go donate!!</a>
    </nav>
</header>