<header class="site">
    {% if page.url != "/" %}
    <a class="home" href="/">buelfest</a>
    {% else %}
    <span></span>
    {% endif %}
    <nav>
        {# <a href="/about/">about</a> #}
        {# <a href="/sets/">sets</a> #}
        <a href="#" class="hidden" id="music_button">music on</a>
        <a href="{{ links.discord }}">discord</a>
        <a href="{{ links.twitch }}">watch live</a>
        <!-- <a href="/donate/">go donate!!</a> -->
        <a href="https://www.youtube.com/playlist?list=PLt3wDhXp6ulhrGz7kAKvtsVenAFVRkGdl">watch the 2024 vods</a>
    </nav>
</header>
