---
title: "donations"
---

{% block head %}
<link rel="stylesheet" href="/assets/donate.css">

<meta property="og:title" content="donations" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_GB" />
<meta property="og:description"
    content="exchange money for goods and services (the good is helping people and the service is getting your name read out on a livestream)" />
{% endblock %}

<main>
    <h1 class="big transparent">
        donations
    </h1>

    <section class="option">
        <h2>help lio train his cool service dog</h2>
        <p class="explainer">
            Lio is a member of our community who has a lovely service dog named
            Muppet! (Muppy for short.) Unfortunately, as is often the case for
            those in need of service dogs, he doesn't have the time to train
            Muppy to her full capability, and training is expensive. Really
            expensive. As such, we'd love it if you donated to help him pay for
            it, so Muppy can do what she does best even better. Anything helps.
        </p>
        <a href="https://ko-fi.com/liomiodio" class="big">go →</a>
        <div class="raised"><span class="number"
                id="lio">${{donations.lio.display}}</span> raised</div>
        <div class="get-counted" class="inverted" style="rotate: -2deg;">
            <h3>Get Counted!</h3>
            <p>
                your donation should be automatically counted shortly after you
                complete the transaction.
            </p>
        </div>
    </section>
    <div class="sep">
        and!
    </div>
    <section class="option inverted">
        <h2>donate to the PCRF</h2>
        <p class="explainer">
            The Palestinian Children's Relief Fund provides free medical care to
            thousands of injured and ill children currently suffering under the
            Israeli occupation of Palestine. Donating to them shows your support
            of
            their mission and allows them to continue doing what they do.
            Anything helps. Free Palestine.
        </p>
        <a href="https://pcrf1.app.neoncrm.com/forms/general" class="big">go
            →</a>
        <div class="raised"><span class="number"
                id="pcrf">${{donations.pcrf.display}}</span> raised</div>
        <div class="get-counted" style="rotate: 2.5deg;">
            <h3>Get Counted!</h3>
            <p>
                forward your receipt email to
                <a href="mailto:pcrf@guywith.dog">pcrf@guywith.dog</a>.
                if applicable, include your donation message in the subject
                line.
            </p>
            <p>
                <strong>important!</strong> we'll use the name that's on your
                receipt, so make sure you set it to something you're comfortable
                with being shown on the stream (they'll let you put whatever
                in).
            </p>
        </div>
    </section>

    <section class="dono-info toned">
        <div>
            <h3>rewards</h3>
            <p>
                depending on how much cash you fork over, the following things
                might happen:
            </p>
            <ol class="table">
                <li>
                    <span class="price">$??</span>
                    <span>
                        <span class="limited">during buelfest only!</span>
                        any amount will earn you a raffle ticket for the day.*
                    </span>
                </li>
                <li>
                    <span class="price">$5</span>
                    bueller gets a hug and is told it's from you.
                </li>
                <li>
                    <span class="price">$10</span>
                    bueller gets a little treat.
                </li>
                <li>
                    <span class="price">$15</span>
                    bueller will be asked kindly to do a little dance.
                </li>
                <li>
                    <span class="price">$20 <small>(or more)</small></span>
                    you can provide a message to be read out between sets.
                </li>
                <li>
                    <span class="price">$????</span>
                    <span>
                        <span class="limited">during buelfest only!</span>
                        if you are in the top 3 donators by the end of the week,
                        you'll be eligible to receive a free item of merch by
                        your own design (or a buelfest staff shirt).
                    </span>
                </li>
                <li>
                    <span class="price"></span>
                    <span>
                        if you'd like to be anonymous, simply donate using a name that tells us that. you will not be eligible to win raffle prizes if you do so, and we'll spin again if we land on you.
                    </span>
                </li>
            </ol>
        </div>
        <div>
            <h3>raffle</h3>
            <p>here's how it works:</p>
            <ul
                style="display: flex; flex-direction: column; gap: .25rem; line-height: 1.5;">
                <li>
                    every day has a raffle
                </li>
                <li>
                    some prizes have a pool solely from the day they're given on; some are cumulative for the entire fest up to that point
                </li>
                <li>prizes will be announced when winners are drawn (and throughout the fest! make sure to tune in!)</li>
                <li>if you win a prize you don't want, let me know and i'll spin again</li>
                <li>no purchase necessary (see the legalzone)</li>
            </ul>
        </div>
        <div>
            <h3>legalzone</h3>
            <p style="font-size: .85rem;">
                *our legal team says: "limit 1 entry per person per day for daily
                prizes and 1 entry per person for the grand prize. must be 18
                years or older to enter. sweepstakes open to legal residents of
                the continental united states, void where prohibited. no
                purchase necessary. all contestants have an equal chance of
                winning each drawing, regardless of donation amount. applicants
                can enter through the methods above or by emailing their name to
                <a
                    href="mailto:sweepstakes@guywith.dog">sweepstakes@guywith.dog</a>
                with the subject 'buelfest 2024 sweepstakes entry
                request'. prizes for each day can be seen in the prize table
                above. all daily entries will automatically be entered for the
                grand prize, unless the contestant is already entered from a
                previous day. winners will be selected randomly at the end of
                each stream, live at twitch.tv/guywithdog. the grand prize will
                be drawn on the final day (afterparty), after that days prize.
                entry will close at the end of each day's final set. winners
                will be contacted with further information on claiming prizes
                using the email they entered with. buelfest takes your privacy
                seriously and only collects the information necessary to process
                your request. non-winning entries will be fully discarded by
                nov. 16, 2024. winning entries will be retained as necessary to
                deliver prizes. buelfest does not process payment information.
                winners names may be requested by emailing
                <a
                    href="mailto:sweepstakes@guywith.dog">sweepstakes@guywith.dog</a>
                with the subject 'buelfest
                2024 sweepstakes winner request' before nov. 16, 2024."
            </p>
            <p style="font-size: .85rem;">the legal team would also like to add
                that they individually  intend to defraud
                the IRS in the upcoming fiscal year</p>
        </div>
    </section>
</main>

<script type="module">
    const cool_url = "https://leah.pronounmail.com/buelfest/donations.php";
    async function update() {

        const res = await fetch(cool_url);
        if (!res.ok) {
            return;
        }
        const json = await res.json();

        for (const id of ['lio', 'pcrf']) {
            const elem = document.getElementById(id);
            elem.innerText = "$" + json[id].display;
        }
    }

    update()
</script>
