---
title: "donations"
draft: true
---

{% block head %}
<link rel="stylesheet" href="/assets/donate.css">

<meta property="og:title" content="donations" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_GB" />
<meta property="og:description"
    content="exchange money for goods and services (the good is helping people and the service is getting your name read out on a livestream)" />
{% endblock %}

<main>
    <h1 class="big transparent">
        donations
    </h1>

    <section class="option">
        <h2>help lio train his cool dog</h2>
        <a href="/" class="big">go →</a>
        <div class="raised"><span class="number">£200</span> raised</div>
    </section>
    <div class="sep">
        and!
    </div>
    <section class="option inverted">
        <h2>donate to the PCRF</h2>
        <a href="/" class="big">go →</a>
        <div class="raised"><span class="number">£150</span> raised</div>
    </section>

    <section class="dono-info toned">
        <div>
            <h3>rewards</h3>
            <p>
                depending on how much cash you fork over, the following things
                might happen:
            </p>
            <ol class="table">
                <li>
                    <span class="price">$??</span>
                    <span>
                        <span class="limited">buelfest only!</span>
                        any amount will earn you a raffle ticket for the day.
                    </span>
                </li>
                <li>
                    <span class="price">$5 <small>(or more)</small></span>
                    your name gets read out at the end of the stream
                </li>
                <li>
                    <span class="price">$7</span>
                    bueller gets a hug and is told it's from you.
                </li>
                <li>
                    <span class="price">$10</span>
                    bueller gets a little treat.
                </li>
                <li>
                    <span class="price">$15</span>
                    bueller will be asked kindly to do a little dance.
                </li>
                <li>
                    <span class="price">$20 <small>(or more)</small></span>
                    you can provide a message to be read out between sets.
                </li>
                <li>
                    <span class="price">$????</span>
                    <span>
                        <span class="limited">buelfest only!</span>
                        if you are in the top 3 donators by the end of the week,
                        you'll be eligible to receive a free item of merch by
                        your own design (or a buelfest staff shirt).
                    </span>
                </li>
            </ol>
        </div>
        <div>
            <h3>raffle</h3>
            <p>here's how it works:</p>
            <ul>
                <li>
                    the weekdays all count for one big raffle at the end of the
                    afterparty
                </li>
                <li>
                    the weekends are each their own raffle, meaning it is only
                    possible to get one ticket for these.
                </li>
                <li>prizes will be announced when winners are drawn</li>
                <li>the big raffle will have 3 winners</li>
                <li>the weekend raffles will each have one</li>
            </ul>
        </div>
        <div>
            <h3>getting counted</h3>
            <h4>for PCRF donors</h4>
            <p>
                forward your PCRF reciept email to
                <a href="mailto:pcrf@guywith.dog">pcrf@guywith.dog</a>.
                if you donated enough to get a message on stream, put it as the subject line.
            </p>
            <h4>for lio donors</h4>
            <p>todo</p>
        </div>
    </section>


</main>