main {
    display: grid;
    grid-template-rows: 0 1fr 0 1fr auto;
    grid-auto-rows: max-content;
    max-width: unset;
    width: unset;
    padding: 0;
    min-height: 100vh;
    
    --inner-margin: clamp(.5rem, 2vw, 2rem);
}

h1.big {
    font-size: clamp(4rem, 16vw, 16rem);
    justify-self: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    word-break: break-all;
    font-variation-settings: 'FLAR' 100, 'VOLM' 100;
    line-height: .8;
    height: min-content;

    grid-column: 1;
    grid-row: 1;

    margin: 0;
    margin-top: .25em;
    margin-bottom: -0.75em;

    color: color-mix(in srgb, var(--fg), var(--bg) 90%);

    user-select: none;
}

h2.big {
    margin: 0 1rem;
    margin-bottom: -0.6em;
    width: min-content;

    justify-self: end;

    font-size: clamp(3.5rem, 10vw, 10rem);
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    font-variation-settings: 'FLAR' 100, 'VOLM' 100;

    z-index: 0;
    user-select: none;
}


.sep {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    
    background-color: var(--fg);
    color: var(--bg);
    justify-content: center;
    width: 8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: auto;
    min-height: 2rem;
    margin-top: -1rem;
    border: 1px solid var(--bg);
    user-select: none;
    
    z-index: 100;

}

section.option {
    display: grid;
    gap: 0 1rem;
    padding: 2rem var(--inner-margin);
    grid-template-columns: auto repeat(3, 1fr);
    align-items: baseline;

    &:first-of-type {
        margin-top: 2.5rem;
    }

    h2 {
        margin: 0;
        margin-bottom: .25rem;
        font-size: 2.5rem;
        font-weight: 900;
        font-variation-settings: 'FLAR' 100;
        grid-column: 1 / span 2;
        text-wrap: balance;
    }

    p.explainer {
        grid-column: 1 / span 2;
        grid-row: 2;

        max-width: 32rem;
        margin-top: 0;
        margin-bottom: 2.5rem;
    }

    .raised {
        font-weight: 500;
        justify-self: end;
        font-size: 1.25rem;
        line-height: 1;
        grid-column: 3 / -1;
        grid-row: 2 / span 2;
        align-self: last baseline;
        .number {
            font-variation-settings: 'FLAR' 100;
            font-size: max(2rem, 17.5vw);
            font-weight: 900;
            font-variant-numeric: tabular-nums;
        }
    }

    a.big {
        grid-column: 1;
        font-size: max(2rem, 6vmin);
        padding: .2em .5em;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0;
        font-weight: 500;
        border: 2px solid currentColor;
        border-bottom-width: 8px;
        width: max-content;
        line-height: 1;
        justify-self: end;

        &:hover {
            background-color: color-mix(in srgb, currentColor, var(--bg) 80%);
        }

        .inverted &:hover {
            background-color: color-mix(in srgb, currentColor, var(--fg) 80%);
        }
    }

    .get-counted {
        grid-column: 2;
        grid-row: 3;
        align-self: start   ;
        justify-self: start;

        max-width: 22rem;

        .inverted & {
            background-color: var(--bg);
            color: var(--fg);
        }

        background-color: var(--fg);
        color: var(--bg);
        padding: 1rem;

        h3 {
            font-size: 1rem;
            margin: 0;
        }

        p {
            font-size: .9rem;
            margin-top: .25rem;
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 72rem) {
        grid-template-columns: 1fr;
        gap: 2rem;

        * {
            text-align: center;
            grid-column: 1 !important;
            justify-self: center !important;
        }

        h2 {
            margin-bottom: 0;
        }

        .raised {
            grid-row: 3;
        }

        .get-counted {
            grid-row: 5;
            margin-bottom: 2rem;
        }
        
        p.explainer {
            margin: 0;
        }

        a.big {
            font-size: clamp(2rem, 12vw, 4rem);
        }
    }
}

.dono-info {
    margin: 0;
    padding: 1rem 0;
    padding-bottom: 2rem;

    display: grid;
    gap: 1.5rem;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 22rem);

    h4 {
        margin-bottom: 0;

        + p {
            margin-top: .25rem;
        }
    }
}

ol.table {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1px;
    overflow: hidden;

    li {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: subgrid;
        gap: .75rem;
        padding: .5rem 0;
        align-items: baseline;

        outline: 1px solid color-mix(in srgb, var(--fg), var(--bg) 60%);

        .limited {
            display: block;
            background-color: var(--fg);
            color: var(--bg);
            width: max-content;
            padding: 0.1rem .25rem;
            margin-bottom: .25rem;
            border-radius: 4px;
            font-weight: 600;
            font-size: .85rem;
        }

        .price {
            min-width: max-content;
            justify-self: end;
            font-weight: 700;
            font-variation-settings: 'FLAR' 100, 'VOLM' 100;
            font-size: 1.25rem;

            small {
                font-size: .9rem;
                font-weight: 500;
                font-variation-settings: 'slnt' -10;
            }
        }
    }
}

button {
    --mix-factor: 25%;
    display: block;
    background-color: color-mix(in srgb, var(--fg), var(--bg) var(--mix-factor));
    border: none;
    font: inherit;
    color: var(--bg);
    border-radius: 6px;
    padding: .5rem .75rem;
    line-height: 1;
    cursor: pointer;

    &:hover {
        --mix-factor: 60%;
    }
}

ul.tags {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    padding: 0;

    li {
        border: 1px solid var(--fg);
        border-radius: 4px;
        font-size: .9rem;
        padding: 0 .25rem;
    }
}