:root {
    --bg: yellow;
    --fg: black;
}

::selection {
    background-color: var(--fg);
    color: var(--bg);
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

p {
    line-height: 1.7;
}

a {
    color: inherit;
    font-weight: 500;
}

main {
    display: grid;
    /* grid-template-columns: 1fr 3fr; */

    gap: 2rem;
    min-height: 100vh;
    margin: 1rem;
}

h1 {
    font-size: clamp(4rem, 16vw, 16rem);
    justify-self: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    word-break: break-all;
    font-variation-settings: 'FLAR' 100, 'VOLM' 100;
    line-height: .8;

    grid-column: 1;
    grid-row: 1 / span 2;
    
    margin: 0;
    margin-bottom: .05em;

    user-select: none;
}

h2.big {
    margin: 0;
    margin-bottom: -0.5em;
    width: min-content;

    justify-self: end;
    
    font-size: clamp(4rem, 10vw, 8rem);
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    font-variation-settings: 'FLAR' 100, 'VOLM' 100;

    z-index: 0;
    user-select: none;
}

ul.fundraisers {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
    gap: .5rem;

    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100s;
    
    li > a {
        height: 100%;
        text-decoration: none;
        color: inherit;
        font-weight: 400;

        --mix-factor: 90%;
        background-color: color-mix(in srgb, var(--fg), var(--bg) var(--mix-factor));

        outline: 1px solid var(--border-colour);
        border-radius: 4px;
        overflow: hidden;

        display: flex;
        flex-direction: column;

        h3 {
            margin: 0;
            font-size: 1rem;
            margin-bottom: .25rem;
        }

        img {
            width: 100%;
            height: min-content;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            border-bottom: 1px solid var(--border-colour);
            margin: 0;
        }

        &:hover {
            --mix-factor: 80%;
        }

        div {
            display: flex;
            flex-direction: column;
            flex: 1;

            margin: .75rem;
            margin-bottom: 1rem;
        }

        .raised {
            display: block;
            color: color-mix(in srgb, var(--fg), var(--bg) 10%);
            margin-top: auto;
            padding-top: .5rem;
            justify-self: flex-end;
        }

        big {
            font-weight: 700;
            font-size: 2rem;
            color: var(--fg);
            font-variation-settings: 'FLAR' 100, 'VOLM' 100;
        }
    }
}

.dono-info {
    margin: 2rem 1rem;

    display: grid;
    gap: 1.5rem;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 22rem);
}

ol.table {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1px;
    overflow: hidden;

    li {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: subgrid;
        gap: .75rem;
        padding: .5rem 0;
        align-items: baseline;

        outline: 1px solid color-mix(in srgb, var(--fg), var(--bg) 60%);

        .limited {
            display: block;
            background-color: var(--fg);
            color: var(--bg);
            width: max-content;
            padding: 0.1rem .25rem;
            margin-bottom: .25rem;
            border-radius: 4px;
            font-weight: 600;
            font-size: .85rem;
        }

        .price {
            min-width: max-content;
            justify-self: end;
            font-weight: 700;
            font-variation-settings: 'FLAR' 100, 'VOLM' 100;
            font-size: 1.25rem;

            color: color-mix(in srgb, var(--fg), var(--bg) 25%);

            small {
                font-size: .9rem;
                font-weight: 500;
                font-variation-settings: 'slnt' -10;
            }
        }
    }
}

button {
    --mix-factor: 75%;
    display: block;
    background-color: color-mix(in srgb, var(--fg), var(--bg) var(--mix-factor));
    border: none;
    font: inherit;
    color: var(--fg);
    border-radius: 6px;
    padding: .5rem .75rem;
    line-height: 1;
    cursor: pointer;

    &:hover {
        --mix-factor: 60%;
    }
}