:root {
    --dog-height: 75svh;
}

h1.nice {
    display: grid;
    position: relative;
    grid-template-columns: repeat(1fr, 2);
    width: 100%;
    height: var(--dog-height);

    position: relative;

    margin-top: -9rem;
    margin: 0;
    padding: 0;


    /* todo: check accessibility */
    user-select: none;

    font-variation-settings: 'FLAR' 100, 'VOLM' 100;

    span.big {
        font-size: min(22vw, 40vh);
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: -0.05em;
        line-height: 0.8;
        pointer-events: none;
    }

    .buel {
        grid-column: 1;
        margin-left: -1vw;
    }

    .fest {
        grid-column: 2;
        grid-row: 2;
        text-align: right;
        align-self: end;
    }

    .details {
        position: relative;
        z-index: 3;
        grid-column: 1;
        grid-row: 2;
        padding: .5rem;

        width: 75%;

        align-self: end;
        display: flex;
        flex-direction: column;

        text-transform: uppercase;
        font-size: clamp(2rem, 3.5vw, 4rem);
        text-wrap: balance;
        font-weight: 300;
    }

    .date {
        font-weight: 800;
    }
}

section.more {
    display: grid;
    grid-template-columns: repeat(auto-fit, 24rem);
    justify-content: space-evenly;

    padding: 0 1rem;
}

section.details {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 200;
    padding: 2rem;

    a {
        font-weight: inherit;
        text-decoration: none;
    }

    .date {
        font-weight: 700;
    }
}

.dog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--dog-height);
    z-index: 1;
}