:root {
    --font: 'Commissioner', sans-serif;
    --bg: white;
    --fg: black;

    font-family: var(--font);
}

::selection {
    background-color: var(--fg);
    color: var(--bg);
}

body, html {
    margin: 0;
    padding: 0;

    background-color: var(--bg);
    color: var(--fg);
}

a {
    color: inherit;
    font-weight: 500;

    &:focus-visible {
        background-color: var(--fg);
        color: var(--bg);
        outline: 2px solid var(--fg);
        outline-offset: 2px;
    }
}

p {
    line-height: 1.7;
}

header.site {
    position: fixed;
    top: 0;
    right: 2rem;

    z-index: 2;

    display: flex;
    justify-content: space-between;

    width: calc(100% - 4rem);
    margin: 2.5rem auto;
    margin-top: 2rem;

    a {
        text-decoration: none;
    }

    .home {
        display: flex;
        align-items: center;

        background-color: var(--bg);
        outline: 1px solid var(--fg);
        line-height: 1;
        padding: .1rem .25rem;
        letter-spacing: .5px;
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: 600;
        /* font-variation-settings: 'FLAR' 100, 'VOLM' 100; */
    }

    a:hover {
        color: var(--bg);
        background-color: var(--fg);
    }

    a:focus-visible {
        outline: 2px solid var(--fg);
        outline-offset: 2px;
        background-color: var(--fg);
        color: var(--bg);
    }

    nav {
        display: flex;
        gap: 1px;

        a {
            padding: .25rem;
            outline: 1px solid var(--fg);
            background-color: var(--bg);
            text-transform: uppercase;
            font-weight: 450;
            line-height: 1;
            font-size: .9rem;
        }
    }

    @media screen and (max-width: 36rem) {
        padding: 0;
        justify-content: center;

        nav {
            flex-wrap: wrap;
        }
    }
}

h1.big {
    font-size: clamp(4rem, 16vw, 16rem);
    justify-self: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    text-wrap: balance;
    font-variation-settings: 'FLAR' 100, 'VOLM' 100;
    line-height: .8;

    grid-column: 1;
    grid-row: 1 / span 2;

    margin: auto;
    margin-bottom: .05em;
    margin-top: max(4rem, .35em);
    width: max-content;


    user-select: none;
}

.inverted {
    background-color: var(--fg);
    color: var(--bg);

    ::selection {
        background-color: var(--bg);
        color: var(--fg)
    }

    a:focus-visible {
        background-color: var(--bg);
        color: var(--fg);

        outline-color: var(--bg);
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 24rem);
    justify-content: space-evenly;
    gap: 1rem;
    padding: 2rem 0;
    padding-bottom: 2.5rem;

    section.title {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-variation-settings: 'FLAR' 100, 'VOLM' 100;
        font-size: 1.25rem;

        :nth-child(1) {
            font-size: 2rem;
            font-weight: 700;
        }
    }


    .links {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        font-size: 1rem;
    }
}

main {
    max-width: 700px;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

pre {
    width: 100%;
    overflow-x: auto;
}